@font-face {
    font-family: 'roboto mono';
    src: url(../font/roboto-mono/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: 'roboto mono light';
    src: url(../font/roboto-mono/RobotoMono-Light.ttf);
}