@font-face {
    font-family: 'Roboto Mono';
    src: url(../font/roboto-mono/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Mono-light';
    src: url(../font/roboto-mono/RobotoMono-Light.ttf);
}