@mixin settings-btn {
    background-color: var(--bg);
    color: var(--text);
    border: solid 1px var(--text);
    padding: 1rem 2rem;
    font-size: 1.6rem;
    transition: all .2s;

    &:hover {
        background-color: var(--text);
        color: var(--text)
    }

}

@mixin setting-btn-active {
    background-color: var(--text);
}