// $background: #1A1A1A;
// $main-theme: #42b883;
// $text: #EBEBEB;
// $text-dull: rgba(#EBEBEB, 0.6);
// $text-typo: #ef233c

$background: black;
$main-theme: #6e45e2;
$sub-theme: #88d3ce;
$text: #EBEBEB;
$text-dull: #888888;
$text-typo: #ef233c